code, pre {
  font-family: Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace;
  hyphens: none;
}

pre {
  max-height: 30em;
  overflow: auto;
  tab-size: 8;
  background-color: black;
  color: white;
  padding: 20px;
}
